---
import Image from "astro/components/Image.astro"
import SSPic from '../assets/ss.png'
import Layout from "../layouts/Layout.astro"
---
<Layout title="MaisonTrinithe">
<style>
#banner {
  background-image: linear-gradient(rgba(245,245,245,0.8), rgba(245,245,245,0.5)), url(/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<div id="banner" class="flex flex-col gap-8 items-center justify-center w-full p-10">
  <div class="mt-10 font-light p-5 w-full max-w-2xl bg-white/65 backdrop-blur-sm rounded-lg shadow-md text-gray-700 flex flex-col gap-1">
    <h1 class="text-lg font-normal">Demo: MaisonTrinithé</h1>
    <h2>Construido por: Spyridon Mihalopoulos</h2>
    <span class="text-sm">email: root.spyro@gmail.com</span>
    <span class="text-sm">whatsapp: <a class="text-sky-500 underline" href="https://wa.me/584245434188">+584245434188</a></span>
    <span class="text-sm">github: <a class="text-sky-500 underline" href="https://github.com/rootspyro">github.com/rootspyro</a></span>
  </div> 
  <div class="w-full max-w-2xl">
    <Image class="rounded-lg shadow-lg" alt="demo-ss" src={SSPic} />
  </div>

<div class="mx-auto w-full max-w-2xl font-light">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:items-center md:gap-8">
<div
      class="rounded-lg p-8 bg-white/65 w-full backdrop-blur-md shadow-lg sm:order-last sm:px-8 lg:p-12"
    >
      <div class="text-center">
        <h2 class="text-lg text-gray-700">
          Diseño 
          <span class="sr-only">Plan</span>
        </h2>

        <p class="mt-2 sm:mt-4">
          <strong class="text-3xl font-bold text-gray-700 sm:text-4xl"> 40$ </strong>

          <span class="text-sm font-medium text-gray-700"></span>
        </p>
      </div>

      <ul class="mt-6 space-y-2">
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-gray-500"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Entrega del Diseño </span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-gray-500"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Entrega del código fuente </span>
        </li>
      </ul>
      <span class="text-xs mt-10 block text-gray-500 text-center">Se entrega el trabajo presentado inicialmente.</span>
    </div>

<div
      class="rounded-lg p-8 bg-white/65 w-full backdrop-blur-md shadow-lg sm:order-last sm:px-8 lg:p-12"
    >
      <div class="text-center">
        <h2 class="text-lg text-gray-700">
          Desarrollo del sitio
          <span class="sr-only">Plan</span>
        </h2>

        <p class="mt-2 sm:mt-4">
          <strong class="text-3xl font-bold text-gray-700 sm:text-4xl"> 80$ </strong>

          <span class="text-sm font-medium text-gray-700"></span>
        </p>
      </div>

      <ul class="mt-6 space-y-2">
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-gray-500"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Tienda online</span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-gray-500"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Pago mensual 5$</span>
        </li>

      </ul>
      <span class="text-xs mt-10 block text-gray-500 text-center">Cambiós a futuro requeriran costos extra al servicio</span>
    </div>

  </div>
</div>

<div
      class="max-w-sm font-light rounded-lg p-8 bg-white/65 w-full backdrop-blur-md shadow-lg sm:order-last sm:px-8 lg:p-12"
    >
      <div class="text-center">
        <h2 class="text-lg text-gray-700">
          Desarrollo del sitio
          <span class="sr-only">Plan</span>
        </h2>

        <p class="mt-2 sm:mt-4">
          <strong class="text-3xl font-bold text-gray-700 sm:text-4xl"> 100$ </strong>

          <span class="text-sm font-medium text-gray-700"></span>
        </p>
      </div>

      <ul class="mt-6 space-y-2">
        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-gray-500"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Tienda online</span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-gray-500"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Sección de recetas</span>
        </li>

        <li class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5 text-gray-500"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>

          <span class="text-gray-700"> Pago mensual 5$</span>
        </li>
      </ul>
      <span class="text-xs mt-5 block text-gray-500 text-center">Cambiós a futuro requeriran costos extra al servicio</span>
    </div>
</div>
</Layout>
