---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bienvenido a Maison Trinithe">
<section class="bg-gray-50 text-neutral-700">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-light sm:text-5xl">
        Maison Trinithe
      </h1>

      <p class="mt-4 sm:text-xl/relaxed font-light">
        SOMOS LA CELEBRACIÓN AL ARTE
      </p>


      <div class="mt-8 flex flex-wrap justify-center gap-4 mt-10">
        <a
          class="group relative inline-block text-sm font-normal text-neutral-700 focus:outline-none focus:ring active:text-red-500"
          href="#"
        >
          <span class="absolute inset-0 border border-current"></span>
          <span
            class="block border border-current bg-white px-12 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1"
          >
          Ir a la Tienda
          </span>
        </a>
      </div>

      <p class="mt-10 sm:text-sm/relaxed font-light">
        Clásico · Ceremonial · Artístico
      </p>

    </div>
  </div>
</section>
<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Nuestros Productos</h2>

      <p class="mt-4 max-w-md text-gray-500">
        Somos una marca exclusiva de té e infusiones provenientes del principal país exportador de té. 
      </p>

      <div class="mt-5">
        <a
          class="group relative inline-block text-sm font-normal text-neutral-700 focus:outline-none focus:ring active:text-red-500"
          href="#"
        >
          <span class="absolute inset-0 border border-current"></span>
          <span
            class="block border border-current bg-white px-12 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1"
          >
          ver la tienda
          </span>
        </a>
      </div>

    </header>

    <ul class="mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
      <li>
        <a href="#" class="group block overflow-hidden">
          <img
            src="https://scontent.cdninstagram.com/v/t39.30808-6/397315739_17944855256719793_1064652191603237011_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyIn0&_nc_ht=scontent.cdninstagram.com&_nc_cat=105&_nc_ohc=imDC_VfJ7MYAX-YRP9D&edm=APs17CUAAAAA&ccb=7-5&ig_cache_key=MzIyNzM2MTQyNTMxNTgzMjIwOQ%3D%3D.2-ccb7-5&oh=00_AfCuqm9bn76MDIfMcJ9Z_lgBSWCHuADJeQMbg3CKO2UnqQ&oe=65E68413&_nc_sid=10d13b"
            alt=""
            class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative bg-white pt-3">
            <h3 class="text-md text-gray-700 group-hover:underline group-hover:underline-offset-4">
              Infusiones
            </h3>
          </div>
        </a>
      </li>

      <li>
        <a href="#" class="group block overflow-hidden">
          <img
            src="https://scontent.cdninstagram.com/v/t39.30808-6/391668198_17942676530719793_6217689986345225294_n.jpg?stp=dst-jpg_e15&efg=eyJ2ZW5jb2RlX3RhZyI6ImltYWdlX3VybGdlbi4xNDQweDE0NDAuc2RyIn0&_nc_ht=scontent.cdninstagram.com&_nc_cat=105&_nc_ohc=rvyKtuPN9SsAX_YoyDt&edm=APs17CUAAAAA&ccb=7-5&ig_cache_key=MzIxNTg2MDE4OTcwNTg2MTkxNA%3D%3D.2-ccb7-5&oh=00_AfBdSSzpZHdQq2B7Mg8Jufk1IZoWLPUSVmrD21UQyX2V9w&oe=65E767CA&_nc_sid=10d13b"
            alt=""
            class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative bg-white pt-3">
            <h3 class="text-md text-gray-700 group-hover:underline group-hover:underline-offset-4">
            Te
            </h3>
          </div>
        </a>
      </li>

      <li>
        <a href="#" class="group block overflow-hidden">
          <img
            src="https://maisontrinithe.com/wp-content/uploads/2023/09/mixto.png"
            alt=""
            class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative bg-white pt-3">
            <h3 class="text-md text-gray-700 group-hover:underline group-hover:underline-offset-4">
            Trinity Pack
            </h3>
          </div>
        </a>
      </li>

      <li>
        <a href="#" class="group block overflow-hidden">
          <img
            src="https://maisontrinithe.com/wp-content/uploads/2023/12/IMG_8075-683x1024.jpg"
            alt=""
            class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative bg-white pt-3">
            <h3 class="text-md text-gray-700 group-hover:underline group-hover:underline-offset-4">
            Accesorios
            </h3>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>

</Layout>
