---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Bienvenido a Maison Trinithe">
<section class="bg-gray-50">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-light sm:text-5xl">
        Maison Trinithe
      </h1>

      <p class="mt-4 sm:text-xl/relaxed font-light">
        SOMOS LA CELEBRACIÓN AL ARTE
      </p>


      <div class="mt-8 flex flex-wrap justify-center gap-4 mt-10">
        <a
          class="group relative inline-block text-sm font-normal text-neutral-900 focus:outline-none focus:ring active:text-red-500"
          href="#"
        >
          <span class="absolute inset-0 border border-current"></span>
          <span
            class="block border border-current bg-white px-12 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1"
          >
          Tienda
          </span>
        </a>
      </div>

      <p class="mt-10 sm:text-sm/relaxed font-light">
        Clásico · Ceremonial · Artístico
      </p>

    </div>
  </div>
</section>
</Layout>
