---
---

<header class="fixed w-screen z-20 transition-all duration-300" id="navbar">
  <div class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-1 items-center justify-end md:justify-between">
      <nav aria-label="Global" class="hidden md:block">
        <ul class="flex items-center gap-6 text-sm">
          <li>
            <a class="text-neutral-700 transition hover:text-gray-500/75 font-light" href="/"> 
            <i class="fi fi-tr-mug-tea"></i>
              Inicio 
            </a>
          </li>

          <li>
            <a class="text-neutral-700 transition hover:text-gray-500/75 font-light" href="/tienda">
              <i class="fi fi-tr-store-alt"></i>
              Tienda 
            </a>
          </li>

          <li>
            <a class="text-neutral-700 transition hover:text-gray-500/75 font-light" href="/recetas">
              <i class="fi fi-tr-journal-alt"></i>
              Recetas 
            </a>
          </li>
        </ul>
      </nav>

      <div class="flex items-center gap-4">
        <div class="sm:flex sm:gap-4">
            <a class="text-neutral-700 transition hover:text-gray-500/75 font-light" href="/carrito">
              <i class="fi fi-tr-basket-shopping-simple"></i>
              0
            </a>
        </div>

        <button
        class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
        id="mobileBtn"
        >
          <span class="sr-only">Toggle menu</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <style>
#mobileMenu {
  left: -100%;
}
  </style>

  <script>

const screenWidth = window.innerWidth;
const navbar = document.getElementById("navbar");
const mobileMenu = document.getElementById("mobileMenu");
const mobileBtn = document.getElementById("mobileBtn");

var isVisible = false; // navbar has bg-opacity = 100%? 
var isMobileOpen = false;

if (screenWidth >= 640) {
  window.addEventListener('scroll', function() {

    // Obtener la posición actual del desplazamiento
    var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

    // Verificar si estás en la parte superior de la página
    if (scrollTop === 0 && isVisible) {
      // Estás en la parte superior de la página
      navbar.classList.remove("bg-white")
      navbar.classList.remove("shadow-md");
      isVisible = false;
    } else {
      
      if (!isVisible) {
        
        navbar.classList.add("bg-white");
        navbar.classList.add("shadow-md");
        isVisible = true
      }  
    } 
  });
} else {

  navbar.classList.add("bg-white");
  navbar.classList.add("shadow-sm");
  mobileBtn.addEventListener('click', function(){

      if (!isMobileOpen) {
        //mobileMenu.classList.remove("hidden");
        mobileMenu.style.left="0"
        isMobileOpen = true;
        } else {

        //mobileMenu.classList.add("hidden");
        mobileMenu.style.left="-100%"
        isMobileOpen = false;
      }
  })
} 

  </script>
</header>

<ul class="bg-white block w-full h-screen fixed z-10 mt-16 sm:hidden p-4 transition-all duration-300" id="mobileMenu">
  <li>
    <a
      href="#"
      class="flex items-center gap-2 rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700"
    >
      <span class="text-sm font-light"> 
        <i class="fi fi-tr-mug-tea"></i>
        Inicio
      </span>
    </a>
  </li>
  <li>
    <a
      href="#"
      class="flex items-center gap-2 rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700"
    >
      <span class="text-sm font-light"> 
        <i class="fi fi-tr-store-alt"></i>
        Tienda 
      </span>
    </a>
  </li>
  <li>
    <a
      href="#"
      class="flex items-center gap-2 rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700"
    >
      <span class="text-sm font-light"> 
        <i class="fi fi-tr-journal-alt"></i>
        Recetas 
      </span>
    </a>
  </li>
</ul>

