---
interface Props {
	title: string;
}

import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Somos una marca exclusiva de té e infusiones provenientes del principal país exportador de té. Clásico, ceremonial, artístico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-rounded/css/uicons-thin-rounded.css'>
		<title>{title}</title>
	</head>
	<body class="w-screen">
    <Navbar />
		<slot class="overflow-x-hidden w-screen" />
    <Footer />
	</body>
  <style>
  body {
    overflow-x: hidden !important;
  }
  </style>
</html>

